.warning {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
