.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  width: 100%;
}

.container h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #4d4d4d;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;

  background: #D60336;
  border-radius: 50%;
}
