.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 40px 0;
}

.mainText {
  width: 100%;
  padding: 0 20px;

  text-wrap: wrap;
  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #4D4D4D;
}

.buttonWrapper {
  width: 310px;
}

.fee {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 20px;

  & .info {
    font-size: 14px;
  }

  & .value {
    font-size: 18px;
  }
}
