* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-block-size: 100dvh;
  width: min(100vw, 900px);
  margin: 0 auto;

  padding: 36px 19px 27px;

  padding-top: 36px;
  padding-bottom: 27px;
}
