.input {
  position: relative;
  width: 26px;

  &:checked::before {
    content: url("/checked-icon.svg");

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 26px;
    height: 26px;

    background-color: #03D69D;
    border: 1px solid #03D69D;
    border-radius: 50%;
  }
}
